
body {
  height: 100%;
  margin: 0; 
}

* {
  box-sizing: border-box; 
}

a {
  color: #000000; 
}


.click-tag {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 10; }


.container, .frame--one, .frame--two {
  width: 970px;
  height: 280px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;  }

.container {
  border: solid 1px #cc0000;
  height: 250px; }

.frame--two {
  background: url("../images/bg.png");
  position: relative;
  max-height: 312px; }

.frame--one {
  background: url("../images/bg.png"); }

.printer-light {
  height: 52px;
  position: absolute;
  margin-top: -25px;
  -webkit-transform: translateY(-52px);
          transform: translateY(-52px); 
        width: 100%;}

.scene__content {
  position: absolute;
  top: 0;
}

  .frame--two__printer {
    position: absolute;
    top: 0;
    left: 0;
  }

.frame-2-copy, .scene--2, .scene--2__cta {
  opacity: 0; }

  .footer { 
    position: absolute;
    top: 0;
    left: 0;
  }
