
body {
  height: 100%;
  margin: 0; 
}

* {
  box-sizing: border-box; 
}

a {
  color: #000000; 
}


.click-tag {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 10; }

.placeholder {
  width: 160px;
  height: 600px;
  border: 1px solid #cc0000;
  position: relative;
  overflow: hidden;
  background: url("../images/bg.png");
  background-size: contain;
  border: 1px solid #cc0000; }

.container, .frame--one, .frame--two {
  width: 160px;
  height: 652px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden; }

.container {
  border: solid 1px #cc0000;
  height: 600px; }

.frame--two {
  background: url("../images/bg.png");
  position: relative;
  max-height: 650px;  }

.frame--one {
  background: url("../images/bg.png"); }

.printer-light {
  height: 52px;
  position: absolute;
  margin-top: -25px;
  -webkit-transform: translateY(-52px);
          transform: translateY(-52px); }

.scene__content {
  position: absolute;
  top: 0;
}

.scene--1__image-container {
  position: absolute;
  left: 34px;
  top: 20px; 
}

.scene--2__image-container {
  position: absolute;
  top: -16px;
  left: 0; }

.frame-2-copy, .scene--2, .scene--2__cta {
  opacity: 0; }

  .footer { 
    position: absolute;
    top: 0;
    left: 0;
  }
